@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

@font-face {
    font-family: vazir;
    src: url(fonts/DAVazirRegular.ttf);
}

*{
    font-family: 'Oswald' , 'vazir' , sans-serif;
}
body{
    padding:0;
    margin:0;
}
.typography{
    letter-spacing: 10px;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:20px;
    font-size: 48px;
}
.background{
    background:url(img/background.png);
    background-size: 100%;
    height: 100%;
    height:85vh;
}
.border{
    border: 2px solid #2D2D2D;
    height: 80vh;
    width: 90vw;
    position: absolute;
    bottom:2.5vh;
    left:2.5vh;
}
.top-nav{
    display: block;
}
.ribbon{
    padding:0px;
    margin:0px;
    background:#FFDE59;
}
.tag{
    background:#2D2D2D;
    color:white;
    margin-left:20px;
    padding:0px 10px 0px 10px;
}
ul{
    margin: 0;
    padding:0;
    list-style: none;
}
.links{
    position: absolute;
    margin:auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    padding-top:30vh;
    width: 80%;
}
.links li a{
    padding:5px;
    font-size: 20px;
    text-align: center;
    background:#2D2D2D;
    color:white;
    margin:auto;
    margin-bottom:18px;
    display: block;
    text-decoration: none;
}

